{% extends "layout.html" %}

{% block title %}
    Sell Shares
{% endblock %}

{% block main %}
    <h1>Sell Shares</h1>
        <form action="/sell" method="post">
            <div class="mb-3">
                <select name="symbol">
                    <option disabled selected value="">Stock</option>
                    {% for stock in stocks_portfolio %}
                        <option value={{ stock["symbol"] }}>{{ stock["symbol"] }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="shares" placeholder="Shares" type="number">
            </div>
            <button class="btn btn-primary" type="submit">Sell</button>
        </form>
{% endblock %}